.wrapper{
  position: relative;
  top: 0;
  height: 100vh;

  &.wrapper-full-page{
    min-height: 100vh;
    height: auto;
  }
}

.main-panel {
  position: relative;
  float: none;
  width: $full-width;
  min-height: 100vh;
  border-top: 2px solid $primary;
  background: linear-gradient($background-black, $background-states-black);

  @include transitions (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));

  &[data="blue"]{
    border-top: 2px solid $info;
  }

  &[data="green"]{
    border-top: 2px solid $success;
  }

  &[data="primary"]{
    border-top: 2px solid $primary;
  }

  > .content {
    padding: 78px 30px 30px 30px;
    min-height: calc(100vh - 130px);
  }

  > .navbar {
    margin-bottom: 0;
  }


  .header {
    margin-bottom: 50px;
  }
}


.perfect-scrollbar-on{
  .main-panel{
    height: 100%;
    max-height: 100%;
  }
}


.panel-header {
  height: 260px;
  padding-top: 80px;
  padding-bottom: 45px;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#0c2646), color-stop(60%, #204065), to(#2a5788));
  background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
  position: relative;
  overflow: hidden;

  .header{
    .title{
      color: $white;
    }
    .category{
      max-width: 600px;
      color: $opacity-5;
      margin: 0 auto;
      font-size: 13px;

      a{
        color: $white;
      }
    }
  }
}

.panel-header-sm{
  height: 135px;
}

.panel-header-lg{
  height: 380px
}

@media screen and (max-width: 991px){
  .wrapper{
    @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));
  }

  .main-panel {
    width: 100%;
    .content {
      padding-left: 30px;
    }
  }

  .nav-open{
    .main-panel{
      right: 0;
      @include transform-translate-x(260px);
    }

    body{
      position: relative;
      overflow-x: hidden;
    }

    .menu-on-right{

      .main-panel{
        @include transform-translate-x(-260px);
      }

      #bodyClick{
        right: 260px;
        left: auto;
      }
    }
    .fixed-plugin {
      display: none;
    }
  }

  #bodyClick{
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    left: 260px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
    background-color: transparent;
    @include transition (0.50s, cubic-bezier(0.685, 0.0473, 0.346, 1));
  }
  .navbar .dropdown-menu{
    position: static !important;
  }

}

@media screen and (max-width: 768px){

  .main-panel .content {
    padding-left: 15px;
    padding-right: 15px;
  }

}
